body {
    font-family: Arial, sans-serif;/* Sets the font family for the entire document */
    margin: auto; /* Centers content horizontally */
}

.navbar {
    overflow: hidden;
    background-color: #a02121; 
}/*  The background color of the navbar */

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 32px;
    text-decoration: none;
}

.navbar a:hover { 
    background-color: #e8dfdf;
    color: #fd0606;
}/* Changes background color on hover */

.frontimg {
    z-index: 2;
}

.container {
    padding: 20px;
}

.container a {
    text-decoration: none;
}

img {
  width: 100%;
    z-index: 1;
    
}
body {
    font-family: Arial, sans-serif;
}

img {
    width: 100%; /* Sets the width of all images to 100% of their container */

}
.text{
    font-family: 'Arial', sans-serif;
    float: right;
    margin-right:5%;
    font-size: x-large
}
.vid{
    float:right; 
} /* Floats the video to the right */
.halfwidth{
    width:50%;
}  /* Sets the width of elements to 50% of their container */








