body {
    font-family: Arial, sans-serif;/* Sets the font family for the entire document */
    margin: auto; /* Centers content horizontally */
}
body{
    background-color: #ffe0e0 
} /*  The background color for the website */

.navbar {
    overflow: hidden;
    background-color: #a02121;
    border: solid 5px rgba(84, 15, 15, 0.59);
}/*  The background color of the navbar */

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 32px;
    text-decoration: none;
}

.navbar a:hover { 
    background-color: #e8dfdf;
    color: #fd0606;
}/* Changes background color on hover */

.frontimg {
    z-index: 2;
}

.container {
    padding: 20px;
}

.container a {
    text-decoration: none;
}


button:hover {
    background-color: #ff0000; 
    color: #fff;
   /* Changes background color on hover */ 
}
body {
    font-family: Arial, sans-serif;
}

img {
    width: 100%; /* Sets the width of all images to 100% of their container */
}

.vid{
    float:right; 
     margin-right:-1%;
    width:46%
         
} /* Floats the video to the right */

.halfwidth{
    width:48%;
}  /* Sets the width of elements to 50% of their container */

.about {
    margin-left: 15px;
} /* Move the text to right*/

.about img{
    border-radius:10%;
    border: solid 5px #1d1d1d; /* border out line*/
}

.img{
    margin-left: 2%;
    
}






